<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FormValidationTest">
  <test thread-count="5" name="FormFieldTest">
    <classes>
      <class name="FormValidationTest.FormFieldTest"/>
    </classes>
  </test> <!-- FormFieldTest -->
</suite> <!-- FormValidationTest -->
